* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*
  background-image: url(./PTYyNiZleHQ9anBn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px; */

  /*background: image no-repeat cover 1000px */
  background: url(./PTYyNiZleHQ9anBn.jpg) no-repeat top/cover;
  height: 1000px;
}

body * {
  font-family: "Inter", sans-serif;
  color: white;
}

#container {
  border: solid rgb(208, 255, 0);
  width: 360px;
  margin: auto;

}

#imagem {
  text-align: center;
}

#imagem img {
  width: 112px;
  margin: auto;
  display: block;
}

#imagem a {
  font-weight: 600;
  font-weight: 93px;
  line-height: 24px;
  padding-top: 9px;
  display: block;
}
/*link */

ul {
  list-style: none;
  gap: 9px;
  padding: center;
  align-items: center;
}

ul li a {
  border:  1px solid red;
  margin-bottom: 9px;
  height: 44px;
  align-items: center;
  justify-content: center;
}